name: Common workflow

on:
  workflow_call:
    inputs:
      os:
        default: 'ubuntu-latest'
        required: false
        type: string
      java-version:
        default: '8'
        required: false
        type: string
      spark-version:
        default: '3.5.4'
        required: false
        type: string
      spark-binary-version:
        default: '3.5'
        required: false
        type: string
      scala-version:
        default: '2.12.18'
        required: false
        type: string
      scala-binary-version:
        default: '2.12'
        required: false
        type: string

permissions:
  issues: write

jobs:
  build-fuzz-test:
    name: Build fuzz Test
    runs-on: ${{ inputs.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ inputs.java-version }}
      - name: Get cached fuzz test lib
        id: get-fuzz-test-cache
        uses: actions/cache@v4
        with:
          path: auron-fuzz-testing-*.jar
          key: auron-fuzz-testing-lib-${{ hashFiles('pom.xml', '**/*.scala', '**/*.java') }}-${{ github.sha }}
          enableCrossOsArchive: true
      - name: Build fuzz Test
        if: steps.get-fuzz-test-cache.outputs.cache-hit != 'true'
        run: |
          mvn clean package -DskipTests
          cp target/auron-fuzz-testing-*.jar .

  build-auron:
    name: Build auron and run fuzz test
    needs: build-fuzz-test
    runs-on: ${{ inputs.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Checkout auron
        uses: actions/checkout@v4
        with:
          repository: apache/auron
          path: auron
          ref: master
          fetch-depth: 1
      - name: Setup Rust & Java toolchain
        uses: ./.github/actions/setup-builder
        with:
          rust-version: 'stable'
          jdk-version: ${{ inputs.java-version }}
      - name: Setup Maven
        uses: ./.github/actions/setup-maven
      - name: Get date
        id: get-date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT
      - name: Get cached auron lib
        id: get-auron-spark-cache
        uses: actions/cache/restore@v4
        with:
          path: auron-spark-${{inputs.spark-binary-version}}_*.jar
          key: auron-spark${{ inputs.spark-binary-version }}_${{ steps.get-date.outputs.date }}
      - name: Build auron
        if: steps.get-auron-spark-cache.outputs.cache-hit != 'true'
        shell: bash
        run: |
          cd auron
          ./auron-build.sh --release --sparkver ${{ inputs.spark-binary-version }} --scalaver ${{ inputs.scala-binary-version }} \
          -Dmaven.source.skip -DskipTests -Dscalafix.skip=true -Dscalafmt.skip=true -Dcheckstyle.skip=true -Dcheckstyle.skip=true \
          -Dspotbugs.skip=true -Drat.skip=true -Dmaven.javadoc.skip=true 

          cp target/auron-spark-${{inputs.spark-binary-version}}_*.jar ..
      - name: Cached auron lib
        if: steps.get-auron-spark-cache.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          path: auron-spark-${{inputs.spark-binary-version}}_*.jar
          key: auron-spark${{ inputs.spark-binary-version }}_${{ steps.get-date.outputs.date }}
      - name: Setup Spark
        uses: ./.github/actions/setup-spark
        with:
          spark-version: ${{ inputs.spark-version }}
          scala-binary-version: ${{ inputs.scala-binary-version }}
      - name: Run fuzz test with auron on spark
        uses: ./.github/actions/run-fuzz-test
        with:
          native-engine: auron
          native-engine-jar: auron-spark-${{inputs.spark-binary-version}}_*.jar
      - name: Report fuzz test result of auron
        uses: ./.github/actions/report-fuzz-test
        with:
          native-engine: auron
          github-token: ${{ secrets.GITHUB_TOKEN }}

  build-comet:
    name: Build comet and run fuzz test
    if: false
    needs: build-fuzz-test
    runs-on: ${{ inputs.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Checkout Datafusion Comet
        uses: actions/checkout@v4
        with:
          repository: apache/datafusion-comet
          path: datafusion-comet
          ref: main
          fetch-depth: 1
      - name: Setup Rust & Java toolchain
        uses: ./.github/actions/setup-builder
        with:
          rust-version: 'stable'
          jdk-version: ${{ inputs.java-version }}
      - name: Get date
        id: get-date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT
      - name: Get cached Datafusion Comet lib
        id: get-comet-spark-cache
        uses: actions/cache/restore@v4
        with:
          path: comet-spark-spark${{ inputs.spark-binary-version }}_${{ inputs.scala-binary-version }}-*.jar
          key: comet-spark-spark${{ inputs.spark-binary-version }}_${{ inputs.scala-binary-version }}-${{ steps.get-date.outputs.date }}
      - name: Build Datafusion Comet
        if: steps.get-comet-spark-cache.outputs.cache-hit != 'true'
        shell: bash
        run: |
          cd datafusion-comet
          PROFILES="-Pspark-${{ inputs.spark-binary-version }}" make release
          cp spark/target/comet-spark-spark${{ inputs.spark-binary-version }}_${{ inputs.scala-binary-version }}-*.jar ..
      - name: Cached Datafusion Comet lib
        if: steps.get-comet-spark-cache.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          path: comet-spark-spark${{ inputs.spark-binary-version }}_${{ inputs.scala-binary-version }}-*.jar
          key: comet-spark-spark${{ inputs.spark-binary-version }}_${{ inputs.scala-binary-version }}-${{ steps.get-date.outputs.date }}
      - name: Upload Datafusion Comet lib
        uses: actions/upload-artifact@v4
        with:
          name: comet-spark-spark${{ inputs.spark-binary-version }}_${{ inputs.scala-binary-version }}
          path: |
            comet-spark-spark${{ inputs.spark-binary-version }}_${{ inputs.scala-binary-version }}-*.jar
          overwrite: true
      - name: Setup Spark
        uses: ./.github/actions/setup-spark
        with:
          spark-version: ${{ inputs.spark-version }}
          scala-binary-version: ${{ inputs.scala-binary-version }}
      - name: Run fuzz test with comet on spark
        uses: ./.github/actions/run-fuzz-test
        with:
          native-engine: comet
          native-engine-jar: comet-spark-spark${{ inputs.spark-binary-version }}_${{ inputs.scala-binary-version }}-*.jar
      - name: Report fuzz test result of Comet
        uses: ./.github/actions/report-fuzz-test
        with:
          native-engine: comet
          github-token: ${{ secrets.GITHUB_TOKEN }}

  build-gluten:
    name: Build gluten and run fuzz test
    if: false
    needs: build-fuzz-test
    runs-on: ${{ inputs.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Checkout Gluten
        uses: actions/checkout@v4
        with:
          repository: apache/incubator-gluten
          path: incubator-gluten
          ref: main
          fetch-depth: 1
      - name: Setup Rust & Java toolchain
        uses: ./.github/actions/setup-builder
        with:
          jdk-version: ${{ inputs.java-version }}
      - name: Setup Maven
        uses: ./.github/actions/setup-maven
      - name: Get date
        id: get-date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT
      - name: Get cached gluten lib
        id: get-gluten-spark-cache
        uses: actions/cache/restore@v4
        with:
          path: gluten-velox-bundle-spark*.jar
          key: gluten-spark${{ inputs.spark-binary-version }}-${{ steps.get-date.outputs.date }}
      - name: Get cached gluten ccache
        id: gluten-ccache-cache
        uses: actions/cache@v4
        with:
          path: incubator-gluten/.ccache
          key: ccache-centos7-release-default-${{ steps.get-date.outputs.date }}
          restore-keys: |
            ccache-centos7-release-default
      - name: Build Gluten
        if: steps.get-gluten-spark-cache.outputs.cache-hit != 'true'
        shell: bash
        run: |
          cd incubator-gluten
          docker run -v $GITHUB_WORKSPACE/incubator-gluten:/work -w /work apache/gluten:vcpkg-centos-7 bash -c "
            df -a
            cd /work
            export CCACHE_DIR=/work/.ccache
            bash dev/ci-velox-buildstatic-centos-7.sh
            ccache -s
            mkdir -p /work/.m2/repository/org/apache/arrow/
            cp -r /root/.m2/repository/org/apache/arrow/* /work/.m2/repository/org/apache/arrow/
          "
          mkdir -p ~/.m2/repository/org/apache/arrow
          cp -r $GITHUB_WORKSPACE/incubator-gluten/.m2/repository/org/apache/arrow/* ~/.m2/repository/org/apache/arrow/
          mvn clean package -Pbackends-velox -Pceleborn -Puniffle -Pspark-${{ inputs.spark-binary-version }} -DskipTests
          cp package/target/gluten-velox-bundle-spark*.jar ..
      - name: Cached Gluten lib
        if: steps.get-gluten-spark-cache.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          path: gluten-velox-bundle-spark*.jar
          key: gluten-spark${{ inputs.spark-binary-version }}-${{ steps.get-date.outputs.date }}
      - name: Upload Gluten lib
        uses: actions/upload-artifact@v4
        with:
          name: gluten-velox-bundle-spark${{ inputs.spark-binary-version }}_${{ inputs.scala-binary-version }}
          path: |
            gluten-velox-bundle-spark*.jar
          overwrite: true
      - name: Setup Spark
        uses: ./.github/actions/setup-spark
        with:
          spark-version: ${{ inputs.spark-version }}
          scala-binary-version: ${{ inputs.scala-binary-version }}
      - name: Run fuzz test with gluten on spark
        uses: ./.github/actions/run-fuzz-test
        with:
          native-engine: gluten
          native-engine-jar: gluten-velox-bundle-spark*.jar
      - name: Report fuzz test result of Gluten
        uses: ./.github/actions/report-fuzz-test
        with:
          native-engine: gluten
          github-token: ${{ secrets.GITHUB_TOKEN }}
